:root {
  --color-dark: rgb(117, 124, 99);
  --color-light: #9e9595;
  --color-medium: #817474;
  --color-black: #282828;
  --color-white: #c5b1b1;

  --spacing-small: 10px;
  --spacing-medium: 15px;
  --spacing-large: 20px;
  --spacing-larger: 50px;

  --box-shadow: 0 16px 24px 2px rgba(33, 37, 41, 0.4),
    0 6px 30px 5px rgba(33, 37, 41, 0.3), 0 8px 10px -5px rgba(33, 37, 41, 0.1);

  --border-radius: 5px;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  /* background: linear-gradient(180deg, #34181e 0%, #0014ff36 80%); */
  background: radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
  font-size: 15px;
  line-height: 1.7;
}
/* Стилизация скролла для firefox */
* {
  scrollbar-color: var(--color-light) var(--color-dark);
  scrollbar-width: thin;
}

/* Стилизация скролла для Chrome */

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-medium);
  border-radius: 2px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-black);
}

:global(.btn) {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
}

:global(.img-contain) {
  display: block;
  object-fit: contain;
  object-position: center;
}

:global(.img-cover) {
  display: block;
  object-fit: cover;
  object-position: center;
}

:global(.btn-contain) {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
